// Place all the styles related to the longestword controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-wrapper {
  margin: 100px auto;
}

#game-grid li {
  border: 1px solid #484848;
}

#guess-word {
  max-width: 500px;
  margin: 10px auto;
}
